<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http auto-config="true">
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<form-login/>
	</http>
	
	<beans:bean id="authenticationProvier" class="net.shangtech.weixin.security.AuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService"></beans:property>
	</beans:bean>
	<beans:bean id="userDetailsService" class="net.shangtech.weixin.security.UserDetailsService"></beans:bean>
	<authentication-manager>
		<authentication-provider ref="authenticationProvier"/>
	</authentication-manager>
	
</beans:beans>